/* Home section */
section#home {
    height: calc(100vh + 50px);
    min-height: 550px;
    position: relative;
}
.home-title-wrapper {
    background: #F4FBFD;
    border-radius: 0px 48px 48px 0px;
    padding: 30px 0 20px;
    position: relative;
    width: 80%;
    height: 80%;
}
.home-title-wrapper::before {
    content: "";
    position: absolute;
    width: 125%;
    height: 100%;
    top: 0;
    left: -25%;
    background-color: #F4FBFD;
    background-image: url(../images/home-main-img.png);
    background-size: cover;
    background-position: center;
    border-radius: 0px 24px 24px 0px;
}
.home-title-wrapper::after {
    content: "";
    position: absolute;
    width: 125%;
    height: 100%;
    top: 0;
    left: -25%;
    background: rgba(0, 0, 0, 0.21);
    border-radius: 0px 24px 24px 0px;
}
.home-title-block {
    max-width: 550px;
    position: absolute;
    z-index: 1;
    bottom: 15%;
}
h1.home-title {
    font-weight: 600;
    font-size: 42px;
    line-height: 46px;
    margin: 0;
    color: white;
}
.home-title-desc {
    color: white;
    font-size: 18px;
    margin: 10px 0;
}
img.home-section-img {
    position: absolute;
    width: 40%;
    right: 0;
    top: -20%;
}
.flex-div.get-started-wrapper {
    margin-top: 35px;
}
.flex-div.get-started-wrapper > button:first-child {
    margin-right: 20px;
}
button.btn.home-btn {
    height: 46px;
    width: 160px;
    font-size: 14px;
}
button.plain-txt-btn {
    background: transparent;
    color: white;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    font-size: 18px;
}
.home-sub-img-wrapper {
    height: 40%;
    position: absolute;
    width: calc(40% - 10px);
    right: 0;
    bottom: calc(10% - 1px);
}
.home-sub-img-wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #F4FBFD;
    background-image: url(../images/home-sub-img.png);
    background-size: cover;
    background-position: center;
    border-radius: 24px 0 0 24px;
}
.square-boxes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    z-index: 10;
    width: 23%;
    height: 56%;
    bottom: 0;
    right: 0;
}
.sqaure-box.orange-box {
    background: #F7941D;
    border-top-left-radius: 8px;
}
.sqaure-box.orange-red-box {
    background: #EF4133;
    border-radius: 8px 0 0 8px;
}
.sqaure-box.black-box {
    background: #000000;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}
img.arrow-down {
    position: absolute;
    width: 30px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    animation: bounce 5s infinite; 
}
.sqaure-box.black-box:hover img.arrow-down {
    animation-play-state: paused;
}

@keyframes bounce { 
    0% {transform: translateY(-10px);} 
    50% {transform: translateY(0px);} 
    100% {transform: translateY(-10px);} 
}
@media(max-width: 992px) {
    .home-title-wrapper {
        width: 90%;
    }
    .home-sub-img-wrapper {
        height: 30%;
    }
    .square-boxes-grid {
        width: 25%;
        height: 34%;
    }
}
@media(max-width: 600px){
    .home-title-wrapper {
        width: 100%;
    }
    .home-sub-img-wrapper {
        height: 25%;
        width: 80%;
        bottom: calc(5% - 1px);
    }
    .square-boxes-grid {
        width: 35%;
        height: 25%;
    }
}
/* end of Home section */

/* About Section */
section#about {
    margin-bottom: 80px;
}
.section-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #777777;
}
h2.section-header {
    /* font-weight: bold; */
    font-family: var(--sec-font-bold);
    font-size: 50px;
    line-height: 0.95;
    color: #161616;
    max-width: 620px;
    margin: 30px auto;
}
p.section-desc {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #777777;
}
.line-divider-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 20px;
}
hr.fancy-line {
    width: 100%;
    border: none;
    height: 3px;
    background: #F6921E;
}
.line-divider-wrapper .section-title {
    width: 100%;
    text-align: center;
}
img.dashboard-screenshot-img {
    width: 80%;
}

@media(max-width: 600px) {
    section#about {
        margin-bottom: 40px;
    }
    img.dashboard-screenshot-img {
        width: 100%;
    }
}
/* end of About Section */

/* Services Section */
.services-block-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 50px 0;
}
.services-block {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #777777;
    padding: 20px 40px;
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    box-sizing: border-box;
    border-radius: 10px;
}
.theme-dark .services-block {
    background-color: #161616;
}
.services-block:nth-child(even) {
    background: #FEF4E8;
}
.theme-dark .services-block:nth-child(even) {
    background: #000000;
}
h4.services-block-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
    align-items: center;
    color: #161616;
}
.theme-dark h4.services-block-title {
    color: #F5F5F4;
}

@media(max-width: 992px) {
    .services-block-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width: 600px) {
    .services-block-wrapper {
        grid-template-columns: 100%;
        grid-gap: 20px;
        margin: 30px 0;
    }
}
/* end of Services Section */

/* Logistics-Routes Section */
section#logistics-routes {
    margin: 50px 0;
}
.lorries-img-div {
    position: relative;
    margin-top: 50px;
}
.lorries-img-div::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -25%;
    top: 0;
    background-color: #F5F5F4;
}
.theme-dark .lorries-img-div::before {
    background-color: #000000;
}
.lorries-img {
    position: relative;
    z-index: 1;
    vertical-align: bottom;
}
ul.custom-list li {
    font-size: 20px;
    line-height: 24px;
    color: #161616;
    margin-bottom: 22px;
}
.theme-dark ul.custom-list li {
    color: white;
}
img.tick-icon {
    width: 50px;
}
.logisitcs-routes-txt .section-title {
    margin-bottom: 25px;
}
.logisitcs-routes-txt {
    margin-top: 50px;
}

@media(min-width: 993px) {
    .logisitcs-routes-txt .section-header {
        margin-top: 0;
        max-width: 400px;
        margin-left: 0;
        line-height: 1;
    }
    .logisitcs-routes-txt {
        margin-top: 100px;
    }
}
@media(max-width: 600px) {
    section#logistics-routes {
        margin: 0;
    }
}
/* end of Logistics-Routes Section */

/* Become-A-Partner Section */
section#become-a-partner {
    margin: 70px 0 60px;
}
section#become-a-partner h2.section-header {
    max-width: 785px;
}
section#become-a-partner p.section-desc {
    font-size: 20px;
}
button.btn.pry-btn.partner-btn {
    width: 200px;
    height: 46px;
    border-radius: 3px;
}
.partner-btn-wrapper {
    margin: 50px 0 30px;
}
/* end of Become-A-Partner Section */

/* Customer-Reviews Section */
#customer-reviews h2.section-header {
    max-width: 500px;
    text-align: left;
    margin-left: 0;
}
#customer-reviews ul.s-collapsible {
    border-radius: 24px;
    overflow: hidden;
    box-shadow: none;
    border: none;
    display: flex;
    flex-direction: row;
}
ul.s-collapsible > li {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    min-width: min-content;
    /* height: 370px; */
}
/* ul.s-collapsible > li.active-collapsible {
    flex-grow: 1;
    flex-shrink: 0;
} */
ul.s-collapsible .s-collapsible-header {
    cursor: pointer;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    font-weight: 400;
    display: flex;
    align-items: flex-end;
    font-size: 37px;
    line-height: 33px;
    border: none;
    padding: 25px;
}
/* .active-collapsible .s-collapsible-header {
    pointer-events: none;
} */
li.orange-li-bg, li.orange-li-bg .s-collapsible-header {
    background-color: #F7941D;
    color: white;
}
li.orange-red-li-bg, li.orange-red-li-bg .s-collapsible-header {
    background-color: #EF4133;
    color: white;
}
li.black-li-bg, li.black-li-bg .s-collapsible-header {
    background-color: #000000;
    color: white;
}
.s-collapsible-body {
    border: none;
    padding: 0;
    width: 0;
    overflow: hidden;
    height: auto;
    position: relative;
    transition: width 0.35s linear;
    min-height: 200px;
}
.active-collapsible .s-collapsible-body {
    padding: 50px 20px 40px;
    width: 100%;
}
/* .testimony-details {
    width: 85%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */
.testimony-details {
    width: 85%;
    margin: auto;
    position: absolute;
}
.active-collapsible .s-collapsible-body .testimony-details {
    position: relative;
}
small.testimony-num {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
}
.testimony-txt {
    font-size: 22px;
    line-height: 32px;
}
.testifier-details.flex-div {
    margin: 50px 0 10px;
}
.testifier-name {
    font-size: 25px;
    line-height: 20px;
}
span.testifier-role {
    font-size: 14px;
    line-height: 22px;
    margin-top: 5px;
    display: block;
}
img.customer-img {
    width: 100%;
}
.testifier-avatar {
    max-width: 115px;
    margin-right: 15px;
}
@media(max-width: 992px) {
    #customer-reviews ul.s-collapsible {
        flex-direction: column;
    }
    ul.s-collapsible > li {
        flex-direction: column;
    }
    ul.s-collapsible .s-collapsible-header {
        transform: none;
        writing-mode: initial;
    }
    .s-collapsible-body {
        min-height: auto;
        width: 100%;
        height: 0;
    }
    .s-collapsible-body {
        width: 100%;
        height: 0;
        max-height: 0;
        transition: max-height 1.35s linear;
    }
    .active-collapsible .s-collapsible-body {
        height: 100%;
        max-height: 1000px;
    }
    .testimony-details {
        width: 95%;
    }
    .testifier-avatar {
        max-width: 100px;
    }
}
@media(max-width: 600px) {
}
/* end of Customer-Reviews Section */

/* FAQ Section */
section#faq {
    margin: 80px 0 50px;
}
#faq h2.section-header {
    max-width: 950px;
    margin: auto;
}
.flex-div.faq-question {
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
}
.accordion-open {
    display: block;
}
.accordion-close {
    display: none;
}
.active .accordion-open {
    display: none;
}
.active .accordion-close {
    display: block;
}
#faq ul.collapsible {
    border: none;
    box-shadow: none;
    margin: 20px auto;
    width: 90%;
}
#faq ul.collapsible > li {
    border: 1px solid #D4D4D4;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 0 20px;
}
#faq .collapsible-header {
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    border: none;
}
.theme-dark #faq .collapsible-header {
    background-color: #111111;
    color: white;
}
#faq .collapsible-body {
    padding: 1rem;
    border: none;
}
#faq ul.collapsible > li.active, #faq ul.collapsible > li.active > .collapsible-header {
    background: #FEF4E8;
}
.theme-dark #faq ul.collapsible > li.active, 
.theme-dark #faq ul.collapsible > li.active > .collapsible-header {
    background: #000;
}
p.faq-answer {
    margin-top: 0;
    font-size: 18px;
    line-height: 28px;
    color: #777777;
}

.s-modal-component-overlay {
    position: absolute;
    width: 125%;
    height: 100%;
    border-radius: 0px 48px 48px 0px;
    background: #231F20;
    bottom: 0;
    left: -25%;
    z-index: 1;
    /* transition: transform 2s;
    transform: translateX(-100%); */
    display: none;
}
/* .s-modal-component-overlay.opened-smc {
    transform: translateX(0);
} */
.smco-track-shipment {
    background-image: url(../images/map-bg.png);
    background-size: contain;
    background-position: right;
}
.theme-dark .s-modal-component-overlay {
    background-color: #FFFFFF;
}

.smc-opened button.nav-btn {
    pointer-events: none;
    opacity: 0.5;
}

@media(max-width: 600px) {
    section#faq {
        margin: 50px 0;
    }
    #faq ul.collapsible {
        width: 100%;
    }
}
/* end of FAQ Section */

/* Contact-Support Section */
section#contact-support {
    margin: 50px 0;
}
#contact-support-form {
    max-width: 605px;
    margin: auto;
}
#contact-support-form input#email {
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    box-sizing: border-box;
    border-radius: 8px 0 0 8px;
    height: 56px;
    padding: 15px;
    box-shadow: none;
    margin: 0;
}
button.submit-btn.btn.pry-btn {
    width: 240px;
    height: 56px;
    border-radius: 0 5px 5px 0;
}
/* end of Contact-Support Section */

@media(max-width: 600px) {
    section {
        padding-left: 20px;
        padding-right: 20px;
    }
    section.text-section {
        padding: 10px 20px;
        text-align: justify;
        font-size: 16px;
    }
    .cv-img-side, .wwa-img-side {
        min-height: 350px;
    }
    h2.section-header {
        font-size: 36px;
    }
    h1.page-title {
        font-size: 54px;
    }
    img.header-square-icon {
        width: 50px;
        border-bottom-right-radius: 24px;
    }
    p.section-desc {
        font-size: 18px;
    }
}