.modal .modal-content {
    height: 100%;
}
.modal::-webkit-scrollbar {
    width: 4px;
    display: none;
}
.mc-wrapper {
    width: 50%;
    min-width: 300px;
    margin: auto;
}
.mc-wrapper.mc-w-2 {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}
h3.modal-title {
    margin-bottom: 5px;
}
.input-field.double-field-wrapper, .input-field.flex-div.phone-field {
    background: #FFFFFF;
    border: 1px solid #777777;
    box-sizing: border-box;
    border-radius: 10px;
}
/* .input-field.flex-div.phone-field {} */
div#modal-component .modal {
    left: 0;
    right: auto;
    top: 100px !important;
    bottom: auto;
    width: 78%;
    height: calc(80% + 40px);
    max-height: 90vh;
    border-radius: 0 24px 24px 0;
}
img.caret-icon {
    position: absolute;
    top: 26px;
    z-index: 10;
    right: 20px;
}

button.submit-modal-btn.btn {
    height: 46px;
    width: 100%;
    border-radius: 5px;
}
button.submit-modal-btn.btn{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
button.submit-modal-btn.btn.sec-btn {
    color: #231F20;
    pointer-events: none;
}
button.submit-modal-btn.btn.sec-btn::before {
    border-radius: 5px;
}
.input-field.submit-modal-btn-wrapper {
    margin-top: 30px;
}

#track-shipment {
    background-image: url(../images/map-bg.png);
    background-size: cover;
    background-position: center;
}
.flex-inp-wrapper {
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    box-sizing: border-box;
    border-radius: 8px;
    height: 56px;
    margin-top: 10%;
}
.flex-inp-wrapper input {
    border: none !important;
    box-shadow: none !important;
    padding: 0 20px !important;
    margin: 0 !important;
    height: 56px !important;
}
button.submit-tracking-btn {
    height: 56px;
    width: 32%;
    border-radius: 8px;
    position: relative;
    right: -1px;
    min-width: 150px;
}

.tracking-path-wrapper {
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    border-radius: 10px;
    margin: 40px auto 20px;
    padding: 15px 25px;
    display: none;
}
ul.tracking-path {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
ul.tracking-path li {
    position: relative;
    z-index: 1;
}
small.tracking-time {
    font-size: 9px;
    color: #231F20;
    display: block;
}
span.t-state {
    font-size: 14px;
    color: #777777;
    display: block;
}
img.dotted-l-line {
    margin-left: 15px;
}
span.t-area {
    color: #231F20;
    font-size: 12px;
}
span.tracking-date {
    color: #777777;
    opacity: 0.7;
    display: block;
    font-size: 11px;
    padding-left: 15px;
}
span.t-node {
    background: #FFFFFF;
    border: 1.43px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 13px;
    width: 10px;
    height: 10px;
    display: block;
    margin: 5px 0;
    margin-left: 8px;
}
.active-point span.t-node {
    background: var(--pry-color);
    border-color: #EF6351;
}
.final-point span.t-node {
    border-radius: 2px;
}
.progress-wrapper {
    position: absolute;
    width: calc(100% - 15px);
    height: 1.5px;
    background: #D4D4D4;
    left: 15px;
    top: 22px;
    z-index: 0;
}
.progress-line {
    background-color: var(--pry-color);
    height: 100%;
}
.updates-signup-wrapper {
    margin-top: 40px;
    display: none;
}
.updates-signup-wrapper > .flex-div {
    justify-content: end;
}
.flex-div.for-updates-txt {
    color: #231F20;
    font-size: 14px;
    font-weight: 500;
    margin-right: 20px;
}
.flex-div.for-updates-txt span {
    margin-right: 5px;
}
button.pry-btn.btn.s-u-btn {
    border-radius: 5px;
    height: 56px;
    width: 200px;
}

@media(max-width: 992px) {
    div#modal-component .modal{
        width: 96%;
    }
    ul.tracking-path {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 40px;
    }
    ul.tracking-path li {
        margin: 5px 0;
    }
    span.t-node {
        position: absolute;
        top: 0;
        left: -40px;
    }
    .progress-wrapper {
        width: 1.5px;
        height: calc(100% - 15px);
        left: 13px;
        top: 12px;
    }
}
@media(max-width: 600px) {
    div#modal-component .modal{
        width: 95%;
    }
    h3.modal-title {
        font-size: 52px !important;
    }
    .flex-div.flex-inp-wrapper {
        flex-direction: column;
        height: auto;
        background: transparent;
        border: none;
    }
    .flex-div.flex-inp-wrapper input {
        background: #FFFFFF !important;
        border: 1px solid #D4D4D4 !important;
        box-sizing: border-box !important;
        border-radius: 8px !important;
    }
    button.submit-tracking-btn {
        width: 100%;
        margin-top: 5px;
    }
    .updates-signup-wrapper > .flex-div {
        flex-direction: column;
    }
    .flex-div.for-updates-txt {
        margin-right: 0;
        margin-bottom: 10px;
    }
}