/* Navbar Section */
nav.main-nav{
    position: fixed;
    background-color: white;
    width: 100%;
    box-shadow: none;
    height: 80px;
    z-index: 100;
    font-family: var(--pry-font);
    font-weight: bold;
    top: 0;
}
nav.main-nav.scrolled-nav {
    background-color: white;
}
nav ul a:hover {
    background-color: transparent;
}
ul#nav-mobile {
    display: flex;
    align-items: center;
    position: relative;
    top: 6px;
}
nav.main-nav ul > li > a{
    color: #0A0B09;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    /* text-transform: uppercase; */
}
nav.main-nav ul > li > a:hover {
    color: var(--pry-color);
}
nav.main-nav ul > li > a.router-link-exact-active {
    font-weight: bold;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: 0 7px;
}
nav.main-nav ul > li > a > span {
    background-color: transparent;
    position: relative;
}
nav.main-nav.scrolled-nav ul > li > a > span {
    background-color: white !important;
    position: relative;
}
nav.main-nav ul > li > a.router-link-exact-active > span {
    padding: 0 3px;
    color: var(--sec-color);
    position: relative;
}
nav.main-nav ul > li > a.router-link-exact-active > span::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    left: -4px;
    bottom: -4px;
    background-image: url(../images/active-txt-icon.svg);
    background-size: cover;
}

nav.main-nav ul > li > a.router-link-exact-active > button {
    color: white;
    background-color: #5893D9;
}
/* nav.main-nav ul#nav-mobile > li:last-child > a {
    padding-right: 0;
} */
nav .brand-logo {
    top: 2px;
}
a.brand-logo img {
    width: 160px;
    position: relative;
    top: 12px;
}

nav.scrolled-nav.main-nav ul#nav-mobile, nav.scrolled-nav.main-nav ul#nav-mobile-2 {
    top: 0;
}
nav.scrolled-nav a.brand-logo img {
    width: 168px;
    height: auto;
    top: 0;
}
nav.scrolled-nav .brand-logo {
    top: 7px;
}

button.nav-pry-btn.btn img {
    top: 5px;
    position: relative;
    margin-left: 5px;
}
nav button.nav-pry-btn.btn{
    margin-bottom: 0;
}
/* #nav-mobile li:last-child a:hover{
    background-color: transparent;
} */
nav.scrolled-nav ul a{
    color: var(--sec-color);
}
.dn-mobile {
    display: none;
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
nav .brand-logo {
    position: relative;
}

ul#nav-mobile-2 {
    display: flex;
    align-items: center;
}
.switch-container {
    line-height: 1;
}
nav button.sec-btn.btn.nav-btn {
    margin-right: 9px;
    margin-left: 30px;
}
nav button.pry-btn.btn.nav-btn {
    margin-right: 12px;
    margin-left: 5px;
}
.theme-button {
    cursor: pointer;
    position: relative;
    top: 3px;
    border: none;
    background: transparent;
}

.sidenav .switch-container {
    margin-bottom: 20px;
    /* text-align: center; */
}

/* The progress container (grey background) */
.progress-container {
    width: 100%;
    height: 2px;
    background: #eee;
    position: absolute;
    top: 0;
}
/* The progress bar (scroll indicator) */
.progress-bar {
    height: 2px;
    background: var(--pry-color);
    width: 0%;
}

@media(min-width: 993px) {}
@media(max-width: 992px) {    
    nav .brand-logo {
        left: 0;
        transform: none;
    }
    .dn-mobile {
        /* display: block; */
        display: flex;
        align-items: center;
    }
    .dn-mobile a.nav-pry-btn-2.btn.pointer{
        display: flex;
        position: relative;
        top: 4px;
    }
    .dn-mobile a.nav-pry-btn-2.btn.pointer i.material-icons {
        font-size: 20px;
        padding-right: 5px;
    }
    nav .sidenav-trigger {
        top: 10px;
        padding-right: 0;
    }
    nav.main-nav ul#nav-mobile-2 {
        /* top: 17px; */
        position: relative;
    }
    .sidenav-logo {
        margin: 30px 0 50px;
        text-align: left;
        margin-left: 30px;
    }
    .sidenav-trigger img {
        width: 40px;
        top: 5px;
        position: relative;
    }
    .sidenav button.nav-pry-btn-2.btn {
        width: 100%;
    }
    .sidenav li {
        border-bottom: none;
        margin: 20px 0;
    }
    .sidenav li.contact-us-li {
        position: absolute;
        width: 100%;
        left: 0%;
        bottom: 80px;
        border-bottom: none;
        padding-left: 20px;
        padding-right: 20px;
    }
    .sidenav li.contact-us-li button.nav-btn {
        width: 100%;
    }
    .sidenav li.contact-us-li button.nav-btn:not(:last-child) {
        margin-bottom: 5px;
    }
    .sidenav li.contact-us-li button.nav-pry-btn.btn.pointer {
        width: 100%;
        height: 50px;
        font-size: 18px;
        font-weight: bold;
    }
    .sidenav li.contact-us-li.hul-1 {
        bottom: 135px;
    }
    .sidenav li:not(.contact-us-li) a {
        background: transparent !important;
        font-size: 21px;
        height: 22px;
        line-height: 0px;
        font-weight: bold;
        padding: 21px 32px;
        /* border: 1px solid #ccc;     */
    }
    img.logo {
        width: 70%;
    }
    button.nav-pry-btn-2.btn, a.nav-pry-btn-2.btn {
        font-size: 20px;
        line-height: 29px;
        height: 49px;
    }
    button.btn.nav-btn.modal-trigger {
        margin-left: 0 !important;
        width: 100%;
    }
    button.btn.nav-btn.modal-trigger:not(:last-child) {
        margin-bottom: 5px;
    }
    .router-link-exact-active {
        color: var(--pry-color);
    }
    /* .theme-button.light-mode-btn {
        background-color: #f2f2f2;
    }
    .theme-button.dark-mode-btn {
        background-color: #231F20;
    } */
    .switch-container.mobile-switch {
        position: absolute;
        top: 5px;
        right: 5px;
        margin-bottom: 0;
    }
    .switch-container.mobile-switch .theme-button img {
        width: 30px;
    }

}
@media(max-width: 600px) {
    nav.main-nav {
        height: 80px;
    }
    nav .nav-wrapper {
        padding: 0 15px;
    }
    a.brand-logo img {
        width: auto;
        height: 45px;
        top: 15px;
    }
    ul#nav-mobile-2 button.nav-pry-btn-2.btn {
        min-width: auto;
        margin-right: 0;
    }
    ul#nav-mobile-2 a.sidenav-trigger {
        margin-left: 0;
    }
    .sidenav li>a {
        color: rgba(0,0,0,0.87);
        display: block;
        font-size: 24px;
        font-weight: 500;
        height: 56px;
        line-height: 56px;
        padding: 0 32px;
        font-weight: 600;
    }
    .footer-content-block {
        padding: 0;
    }
    .sidenav-trigger img {
        width: 30px;
        top: 8px;
    }
}
@media (max-width: 360px) {
    a.brand-logo img {
        width: 90%;
    }
}
@media (max-width: 320px) {
    ul#nav-mobile-2 button.nav-pry-btn-2.btn {
        display: none;
    }
    a.brand-logo img {
        width: 70%;
    }
    .sidenav li:not(.contact-us-li) a {
        background: transparent !important;
        font-size: 30px;
        height: 30px;
        line-height: 30px;
        margin: 30px 0;
    }
}
/* end of Navbar Section */